# Interface utilisateur
customtkinter==5.2.2

# Base de données SQLite (inclus dans Python, mais pour ORM plus simple tu peux utiliser peewee ou SQLAlchemy)
peewee==3.17.1

# Génération PDF pour rapports/bulletins
reportlab==4.2.2

# Exportation Excel/CSV
pandas==2.2.2
openpyxl==3.1.5

# Outils divers
faker==30.0.0   # pour générer des fausses données de test
 
